html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.game-board {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    gap: 10px;
    width: 620px;
    height: 620px;
}

.board-tile {
    background-color: aliceblue;
}

.board-tile img {
    height: 200px;
}
